* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/RobotoRegular/Roboto-Regular.eot");
  src: url("../fonts/RobotoRegular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/Roboto-Regular.woff") format("woff"), url("../fonts/RobotoRegular/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url("..fonts/RobotoBold/Roboto-Bold.eot");
  src: url("..fonts/RobotoBold/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("..fonts/RobotoBold/Roboto-Bold.woff") format("woff"), url("..fonts/RobotoBold/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Roboto Regular', sans-serif;
  font-size: 16px;
  color: #333333;
  min-width: 320px;
}

h1 {
  font-family: 'Roboto Bold', sans-serif;
  font-size: 48px;
  color: #fff;
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-family: 'Roboto Bold', sans-serif;
  font-size: 32px;
  color: #fd4d40;
  margin: 0;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  font-size: 26px;
}

h3 {
  font-family: 'Roboto Bold', sans-serif;
  font-size: 24px;
}

h4 {
  font-family: 'Roboto Bold', sans-serif;
  font-size: 18px;
  color: #fd4d40;
}

.base__btn {
  display: inline-block;
  padding: 18px 26px 16px;
  border: none;
  font-family: 'Roboto Bold', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#65D331), to(#38A41D));
  background: linear-gradient(180deg, #65D331 0%, #38A41D 100%);
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}

.col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  padding: 10px 0;
  background: rgba(32, 14, 12, 0.3);
  z-index: 10;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 86px;
}

.logo {
  position: relative;
  display: block;
  text-align: center;
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  height: 36px;
  width: 36px;
  padding: 0;
  cursor: pointer;
}

.menu-btn__line {
  display: block;
  height: 4px;
  width: 36px;
  border-radius: 2px;
  background-color: #fff;
  margin: 4px 0;
}

.navbar-phone {
  display: block;
  text-align: right;
}

.navbar-phone a {
  font-family: 'Roboto Bold', sans-serif;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.navbar-phone .phone__number {
  margin-left: 15px;
}

@media (max-width: 768px) {
  .navbar-phone .phone__number {
    display: none;
  }
}

.hero {
  position: relative;
  background-position: top center;
  background-size: cover;
  height: 100vh;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(4.11%, rgba(46, 4, 4, 0.8)), color-stop(19.9%, rgba(49, 5, 5, 0)), color-stop(78.44%, rgba(49, 5, 5, 0)), color-stop(92.05%, rgba(49, 5, 5, 0.27))), rgba(46, 4, 4, 0.2);
  background: linear-gradient(180deg, rgba(46, 4, 4, 0.8) 4.11%, rgba(49, 5, 5, 0) 19.9%, rgba(49, 5, 5, 0) 78.44%, rgba(49, 5, 5, 0.27) 92.05%), rgba(46, 4, 4, 0.2);
  mix-blend-mode: multiply;
}

.hero .index-title {
  position: relative;
  padding-top: 48vh;
  padding-left: 5vw;
  padding-right: 5vw;
  z-index: 1;
}

.hero .index-title span {
  font-family: 'Roboto Regular', sans-serif;
  font-size: 24px;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}

.hero .index-title h1 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}

@media (max-width: 578px) {
  .hero {
    background-position: 80% 50%;
  }
  .hero .index-title {
    padding-top: 50vh;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.st-about {
  display: block;
  position: relative;
  margin-bottom: 30px;
}

.st-about .advantage_wrap {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -30px;
}

.st-about .advantage_wrap .advantage_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  padding: 15px;
  text-align: center;
  max-width: 370px;
  height: 180px;
  border-radius: 10px;
  color: #fff;
  -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);
}

.st-about .advantage_wrap .advantage_item .text-block {
  margin-top: 15px;
}

.st-about .advantage_wrap .advantage_item .text-block h3 {
  margin: 0;
  margin-bottom: 15px;
}

.st-about .advantage_wrap .advantage_item .text-block p {
  margin: 0;
}

.st-about .advantage_wrap .advantage_item .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 86px;
  height: 86px;
  margin-top: -92px;
  border-radius: 50%;
  border: 3px solid #fff;
  font-size: 38px;
}

@media (max-width: 578px) {
  .st-about .advantage_wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
}

@media (max-width: 578px) and (max-width: 578px) {
  .st-about .advantage_item {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.st-about .about-specialist {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.st-about .about-specialist .photo {
  position: relative;
  height: auto;
  max-width: 570px;
  margin-bottom: 30px;
}

.st-about .about-specialist .photo img {
  width: 100%;
}

.st-about .about-specialist .about-text {
  max-width: 540px;
}

.st-about .about-tomatis {
  margin: 40px 0;
}

.st-video {
  display: block;
  position: relative;
  padding: 25px 0;
  background: #e1eef2;
}

.content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content-wrap .areas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.content-wrap .areas .area-item {
  max-width: 255px;
  min-width: 180px;
  margin: 0 15px 30px 0;
}

.content-wrap .areas .area-item h4 {
  margin: 0;
  margin-bottom: 10px;
}

.content-wrap .areas .area-item p {
  margin: 0;
}

.content-wrap .video-preview h3 {
  margin: 0;
}

.content-wrap .video-preview video {
  width: 100px;
  min-width: 320px;
}
/*# sourceMappingURL=style.css.map */