.navbar
	display: block
	position: fixed
	top: 0
	left: 0
	width: 100%
	padding: 10px 0
	background: rgba(32, 14, 12, 0.3)
	z-index: 10
	&-wrap
		display: flex
		padding-left: 15px
		padding-right: 15px
		align-items: center
		justify-content: center
		min-height: 86px

.logo
	position: relative
	display: block
	text-align: center

.menu
	&-btn
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		background-color: transparent
		border: none
		height: 36px
		width: 36px
		padding: 0
		cursor: pointer
		&__line
			display: block
			height: 4px
			width: 36px
			border-radius: 2px
			background-color: #fff
			margin: 4px 0
.navbar-phone
	display: block
	text-align: right
	a
		+bold
		font-size: 24px
		color: #fff
		text-decoration: none
	.phone__number
		margin-left: 15px
@media (max-width: 768px)
	.navbar-phone
		.phone__number
			display: none